/* 项目提供scss全局变量 */

// layout组件样式
$base-menu-width: 260px; // 左侧的菜单的宽度
$base-menu-background: #001529; // 左侧菜单的背景颜色
$base-menu-logo-height: 60px; // 左侧菜单logo高度设置
$base-menu-logo-title-fontSize: 20px; // 左侧菜单logo右侧文字大小
$base-menu-min-width: 64px; // 左侧菜单最小宽度


$base-tabbar-height: 60px; // 顶部导航的高度

